<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="data/index.json"></script>
    <script src="scripts/regex.js"></script>
    <script src="scripts/requestHttp.js"></script>
    <script src="scripts/xmlToJson.js"></script>
    <script src="scripts/main.js"></script>
    <title>Angular</title>
</head>
<body ng-app="mainApp" ng-controller="controllerMain">
    <section>
        <span>Contact Me</span>
        <p>{{jsonFromXml.resume.location.name}}</p>
        <p>{{jsonFromXml.resume.location.citystate}}</p>
        <p>
            <a href="mailto:{{jsonFromXml.resume.location.email}}">{{jsonFromXml.resume.location.email}}</a>
        </p>
        <p>
            <a href="{{jsonFromXml.resume.location.portfolio}}" target="_blank">Go to Portfolio</a>
        </p>
    </section>
    <div>
        <h3>{{jsonFromXml.resume.resources.resource}}</h3>
        <h3> 
            <a href="{{jsonFromXml.resume.resources.adobereader}}">Adobe Reader</a>
        </h3>
    </div>
    <p>{{jsonFromXml.resume.download.h3}}</p>
    <select name="" id="">
        <option ng-repeat="val in jsonFromXml.resume.download.options.option" value="{{val}}">{{val.value}}</option>
    </select>

    <div>
        <p ng-repeat="(key, val) in jsonFromXml.resume.skills.skill" value="{{key}}">{{val.value}}</p>
    </div>

</body>
</html>